%h1 Listing services

%table.table
  %tr
    %th Address
    %th Hostname
    %th Port
    %th Certificate
    %th Compromised?
    %th Current
    %th Expires At
    %th
    %th
    %th

  - @services.each do |service|
    %tr
      %td= service.address
      %td= service.hostname
      %td= service.port
      %td= service.certificate ? link_to(truncate(service.certificate.serial,length: 10), service.certificate) : ''
      %td{class: (service.certificate and service.certificate.compromised) ? 'danger' : 'success'}= service.certificate ? service.certificate.compromised : ''
      %td= service.current
      %td{class: (service.certificate and service.certificate.expired?) ? 'danger' : (service.certificate and service.certificate.expires_soon?) ? 'warning' : '' }= service.certificate ? service.certificate.not_after.to_date : ''
      %td= link_to 'Scan', scan_service_path(service)
      %td= link_to 'Show', service
      %td= link_to 'Edit', edit_service_path(service)

%br

= link_to 'New Service', new_service_path
