%p#notice= notice

%p
  %b Address:
  = @service.address
%p
  %b Hostname:
  = @service.hostname
%p
  %b Port:
  = @service.port
%p
  %b Certificate:
  = @service.certificate ? @service.certificate.serial : ''

%p
  %b Retired:
  = @service.retired
  
%table.table.datatable
  %thead
    %th Time
    %th Certificate
    %th State
    %th Message

  - @service.scans.each do |scan|
    %tr
      %td= scan.updated_at
      %td= scan.certificate ? scan.certificate.serial : 'No Certificate Found'
      %td= scan.state
      %td= scan.message

= link_to 'Edit', edit_service_path(@service)
\|
= link_to 'Back', services_path
