%h1 Listing certificates

%table.table
  %thead
    %tr
      %th.cn CN
      %th.serial Serial
      %th.compromised Compromised?
      %th Not Before
      %th Not After
      %th Used By
      %th 
      %th
      %th
    %tr
  %thead

  %tbody
    -@certificates.each do |c|
      %tr
        %td.cn= c.cn
        %td.serial= link_to truncate(c.serial,length: 16), c
        %td.compromised= c.compromised
        %td= c.not_before.to_date
        %td= c.not_after.to_date
        %td= c.services_using.length
        %td= link_to 'Show', c
        %td= link_to 'Edit', edit_certificate_path(c)
        %td= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Certificate', new_certificate_path
